.member{
    width: 300px;
    height: 400px;
    background: yellow;
    float: left;
    margin-right: 100px;
    margin-top: 50px;
}

.member a:hover, .member a:active, .member a, .member a:visited{
    text-decoration: none;
    color:black;
}
.member .mem-img{
    width: 300px;
}
