.member{
    width: 260px;
    float: left;
    margin-left: 40px;
}

.member a:hover, .member a:active, .member a, .member a:visited{
    text-decoration: none;
    color:black;
}
.member .mem-img{
    width: 260px;
    height: 260px;
}

.member .mem-name{
    font-family: NotoSansCJKKR;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.member .mem-major{
    font-family: NotoSansCJKKR;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-bottom: 60px;
}