.members{}

.members ul{
    list-style: none;
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
    padding: 0;
    
}

.members a, .members a:hover, .members a:visited, .members a:active{
    color: black;
    text-decoration: none;
}

.members ul li{
    line-height: 40px;
    float: left;
    margin-right: 20px;
}