@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  font-family: NotoSansCJKKR;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
