.frequently{
    margin: 60px 10%;
}

.frequently details summary{
    font-family: "NotoSansCJKKr Bold";
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    cursor: pointer;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}

.frequently details summary{
   outline: none;
   margin-bottom: 50px;
}

.frequently details summary::-webkit-details-marker {
    display: none;
}

.frequently details summary:after {
    content: url('https://user-images.githubusercontent.com/48242362/75758108-e358e780-5d76-11ea-877b-3291055378de.png');
    float: right;
}

.frequently details[open] summary:after {
    content: url('https://user-images.githubusercontent.com/48242362/75758104-e2c05100-5d76-11ea-8e72-8a4f0947813f.png');
}

.frequently details span{
    font-family: "NotoSansCJKKr Regular";
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.frequently hr{
    border: 0;
    height: 1px;
    margin-top: 60px;
    background-color: #000;
}