.about{
    max-width: 100%;
}

.about .about-intro{
    margin: 0 10%;
    text-align: center;
}

.about h1{
    font-size: 38px;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
    margin-top : 60px;
}

.about .about-intro h3{
    font-size: 25px;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
}

.about .about-intro div{
    font-size: 22px;
    text-align: left;
    color: #707070;
    margin-bottom: 60px;
}

.about .about-intro table{
    margin: 0 auto 160px;
}

.about .about-intro table td{
    height: 24px;
    font-size: 20px;
}

.about .about-intro table .temp{
    width: 28%;
    color: #000;
    text-align: left;
    font-weight: bold;
}

.about .about-intro table .mar-temp{
    height: 40px;
}