.about{
    width: 1920px;
}

.about .about-intro{
    margin: 0 243px;
    text-align: center;
}

.about h1{
    font-family: NotoSansCJKKR;
    font-size: 45px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0 0 65px 0;
}

.about .about-intro h3{
    font-family: NotoSansCJKKR;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0 0 62px 0;
}

.about .about-intro div{
    width: 1433px;
    height: 170px;
    font-family: NotoSansCJKKR;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin: 0 0 60px 0;
}

.about .about-intro hr{
    margin-bottom: 60px;
}

.about .about-activity{
    margin: 0 243px 171px;
    text-align: center;
}

.about .about-activity table{
    width: 100%;
}

.about .about-activity td{
    width: 382px;
    height: 83px;
    font-family: NotoSansCJKKR;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.about .about-activity .temp{
    width: 75px;
    font-family: NotoSansCJKKR;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.about .about-activity .mar-temp{
    height: 40px;
}