.about{
    width: 1920px;
}

.about .about-intro{
    margin: 0 243px;
    text-align: center;
}

.about h1{
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 40px;
}

.about .about-intro h3{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 40px;
}

.about .about-intro div{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #707070;
    text-align: left;
    margin-bottom: 40px;
}

.about .about-intro hr{
    margin-bottom: 60px;
}

.about .about-activity{
    margin: 0 243px 100px;
    text-align: center;
}

.about .about-activity table{
    width: 100%;
}

.about .about-activity td{
    height: 33px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.about .about-activity .temp{
    width: 280px;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.about .about-activity .mar-temp{
    height: 40px;
}