.apply{
    width: 1920px;
}

.apply .five{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border: none;
    border-bottom: 2px solid pink;
}

.apply .form-ident{
    width:100px;
}

.apply .form-cont{
    width:400px;
    height: 130px;
}

.apply::placeholder{
    color:#ccc;
}