.footer{
    width: 1920px;
    height: 200px;
    background-color: #ffb0b8;
    clear: both;
}

.footer .wrap-contact{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    padding-left: 90px;
}

.footer .wrap-contact .contact:last-child{
    margin-left: 150px;
}

.footer .wrap-contact .contact div:first-child{
    font-weight: 900;
    margin-bottom: 21px;
}

.footer .wrap-contact .contact div{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 6px;
}

.footer img{
    width: 20px;
    margin-right: 200px;
    margin-top: 54px;
    float: right;
}