@import './fonts.css';

.main{
    position: relative;
    width: 1920px;
    height: 959px;
}

.main .main-img{
    width: 1920px;
    height: 1019px;
    position: absolute;
    top: -60px;
    z-index: -3;
    background-image : url('../../main-img.png');
	background-repeat : no-repeat;
    background-size : cover;
}

.main .main-img-layer{
    position: absolute;
    top: -3px;
    z-index: -2;
    width: 1920px;
    height: 960px;
    opacity: 0.3;
    background-color: #000000;
}
.main .main-title{
    font-family: 'NotoSansCJKKr Medium';
    font-size: 60px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 115px 0 80px 242px;
}

.main ul{
    list-style: none;
    padding: 0;
    margin-left: 242px;
}
.main ul li:first-child{
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 50px;
}

.main ul li{
    font-family: 'NotoSansCJKKr Regular';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 22px;
}

.main ul li:last-child{
    margin-bottom: 46px;
}

.main .wrap-btn{
    width: 148px;
    height: 44px;
    border: solid 2px #ffffff;
    border-radius: 100px;
    text-align: center;
    line-height: 44px;
    margin-left: 243px;
}

.main a, .main a:hover, .main a:active, .main a:visited{
    font-family: 'NotoSansCJKKr Bold';
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-decoration: none;
    letter-spacing: normal;
    color: #ffffff;
}