.members{
    max-width: 100%;
    margin-bottom: 120px;
}

.wrap-link{
    margin-left: 10%;
    float: left;
}

.wrap-mem{
    max-width: 70%;
    float: right;
    margin-right: 10%;
}

br{
    clear: both;
}